extends layout

block content

	h1 #{title}

	div.mb-2 Title: #{book.title}, Athor: #[span #{book.author.family_name} #{book.author.first_name}]

	if bookInstances.length > 0
		h4 You could not delete this book while it has any available instances.
		ul
			each bookInstance in bookInstances
				- console.log(bookInstance)
				li 
					a(href=bookInstance.url) #{bookInstance.imprint}
	else 
		form(action="" method="post")
			input(type="hidden" name="id" value=book._id)
			button.btn.btn-primary#delte-book Delete